/*! RESET */

* {
  margin: 0;
  padding: 0;

  /* border: 1px solid rgb(241, 175, 228); */
}

/*! FONTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300&display=swap");

/*? PAGE - INDEX */

/* NAV BAR */

body {
  font-family: "Poppins", sans-serif;
  /* margin: 0px 80px; */
}

header {
  position: sticky;
  top: 0%;
  /* width: 100%; */
}

.bg-body-tertiary {
  background-color: #ff9827 !important;
}

header nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  height: 70px;
}

header nav div a img {
  width: 36px;
  margin-left: 70px;
}

header nav div ul {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-right: 70px;
  align-items: center;
  margin-bottom: 0;
}

header nav div ul li a {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: white;
}

.navbar-toggler {
  border: solid rgb(255 255 255);
  margin-right: 70px;
}

/* HERO SECTION */

.hero {
  height: 800px;
  background-image: url(../images/hero5.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero img {
  margin-left: 70px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.hero p {
  font-size: 1.3rem;
  margin-left: 70px;
  margin-bottom: 50px;
}

.hero a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  background-color: #ff9827;
  padding: 20px 30px;
  margin-left: 70px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero a:hover {
  background-color: #ffa23f;
}

/* VALORES */

.valores div {
  border: 1px solid #ffffff;
  text-align: center;
  height: 500px;
  align-content: center;
  background-color: #ff9827;
  color: #ffffff;
}

.valores div h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.valores div p {
  font-size: 1.3rem;
  font-weight: 200;
}

/* FLOTA */

.flota {
  margin: 100px;
  display: grid;
  grid-template-areas: "texto van1 van2";
  justify-items: center;
  align-content: center;
}

.texto {
  width: 200px;
  height: 350px;
  grid-area: texto;
}

.texto h2 {
  font-size: 2.3rem;
  color: #ff9827;
  width: 400px;
  margin-bottom: 20px;
}

.texto p {
  width: 400px;
}

.flota div img {
  height: 200px;
  width: 100%;
  height: auto;
}

.flota div {
  width: 100%;
}

.van1 {
  text-align: center;
  align-content: center;
  grid-area: van1;
}

.van2 {
  text-align: center;
  align-content: center;
  grid-area: van2;
}

/* FOOTER */

footer div img {
  width: 150px;
}

footer div p {
  font-weight: 300;
}

footer div a {
  font-weight: 300;
}

/*? PAGE - NOSOTROS */

.row div h2 {
  font-weight: 600;
}

.col img {
  height: auto;
  width: 100%;
}

.valores-sub {
  font-weight: 600px !;
}

/*! MEDIA QUERIES */

/* FLOTA */

@media screen and (max-width: 1280px) {
  .flota {
    display: grid;
    grid-template-areas:
      "texto texto"
      "van1 van2";
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .texto {
    height: auto;
    text-align: center;
    justify-items: center;
  }
}

@media screen and (max-width: 991px) {
  header nav div ul {
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style: none;
    margin-right: 0px;
  }

  footer div img {
    width: 125px;
  }
}

@media screen and (max-width: 749px) {
  .hero {
    align-items: center;
    height: 600px;
  }

  .hero img {
    margin-left: 0px;
    height: auto;
    width: 300px;
  }

  .hero p {
    margin-left: 0px;
    font-size: 1rem;
  }

  .hero a {
    margin-left: 0px;
    font-size: 1rem;
    padding: 15px 30px;
  }

  .flota div img {
    display: none;
  }

  .valores div h2 {
    font-size: 1.9rem;
  }

  .valores div p {
    font-size: 1rem;
  }

  .flota .texto h2 {
    width: 100%;
    font-size: 1.9rem;
  }

  .flota .texto p {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .hero {
    height: 500px;
  }

  .flota {
    margin: 70px;
  }
}
