// BOOTSTRAP

.bg-body-tertiary {
  background-color: #ff9827 !important;
}

// SCSS

body {
  font-family: "Poppins", sans-serif;
  header {
    position: sticky;
    top: 0%;
    nav {
      height: 70px;
      div {
        a {
          img {
            width: 36px;
            margin-left: 70px;
          }
        }
        .navbar-toggler {
          border: solid 1px rgb(255 255 255) !important;
          margin-right: 70px;
          button {
          }
          span {
          }
        }
      }
      div {
        ul {
          display: flex;
          gap: 100px;
          list-style: none;
          margin-right: 70px;
          align-items: center;
          margin-bottom: 0;
          li {
            a {
              text-decoration: none;
              color: white;
            }
          }
          li {
            a {
            }
          }
          li {
            a {
            }
          }
        }
      }
    }
  }
}
